__tests__/**
coverage/**
docs/**
site/**
.vscode/**
.vscode-test/**
node_modules/**
.gitignore
script/**
site/**
src/**
.eslintrc.js
.prettierrc.json
.nojekyll
docs/**
package-lock.json
yarn.lock
.travis.yml
jest.config.js
