.bui-vsc-tabgroup {
	display: flex;
	flex-flow: row nowrap;
	height: 40px;
	width: 100%;
	overflow-y: auto;
}

.bui-vsc-tabgroup__tab {
	border: 1px solid;
	cursor: pointer;
	padding: 0 16px;
	font-size: 14px;
	line-height: 38px;
	margin: -1px -1px 0;
}
