.bui-vsc-workspace {
	max-width: 1400px;
	margin: 32px auto;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 4px;
	font-family: 'Operator Mono SSm Book', 'Operator Mono SSm', 'Operator Mono Book', 'Operator Mono', 'Fira Code';
}

.bui-vsc-workspace--window {
	display: flex;
	flex-flow: row nowrap;
	min-height: 700px;
}

.bui-vsc-workspace *::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

.bui-vsc-workspace *::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.05);
}

.bui-vsc-workspace *::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}
.bui-vsc-workspace *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.bui-vsc-workspace.bui-vsc-workspace--light *::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.05);
}

.bui-vsc-workspace.bui-vsc-workspace--light *::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}
.bui-vsc-workspace.bui-vsc-workspace--light *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.bui-vsc-editor {
	width: calc(80% - 50px);
	display: flex;
	flex-flow: row wrap;
}
